/* minou jss style */
/* 1- font */
@font-face {
    font-family:"Noto_Kufi_Arabic";
    src: url('../fonts/Noto_Kufi_Arabic/static/NotoKufiArabic-Bold.ttf');
}
body {
    font-family:"Noto_Kufi_Arabic";
}